<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
</head>
<body>
<style>
    .ReportDataTitle{height: 40px;}
    .ReportDataTitle_list{float: left;line-height: 40px;height: 40px;width: 150px;text-align: center;font-size: 14px;font-weight: 600}
    .ReportDataCenter{background:#F5F5F5;border-bottom:1px solid #DEDEDE;height: 30px;}
    .ReportDataCenter_list{float: left;line-height: 30px;height: 30px;width: 150px;text-align: center;font-size: 12px;}
</style>
<table>
<{if $data}>
    <tr class="ReportDataTitle">
        <td class="ReportDataTitle_list">服区</td>
        <td class="ReportDataTitle_list"  style="width: 200px">动作代号</td>
        <td class="ReportDataTitle_list">次数(去重)</td>
        <td class="ReportDataTitle_list">账号数</td>
    </tr>
    <{foreach $data as $kk=>$vv}>
        <tr class="ReportDataCenter" >
            <td class="ReportDataCenter_list"><{$GameServerUnid}></td>
            <td class="ReportDataCenter_list" style="width: 200px"><{$vv['name']}></td>
            <td class="ReportDataCenter_list"><{$vv['num']}></td>
            <td class="ReportDataCenter_list"><{$vv['userNum']}></td>
        </tr>
    <{/foreach}>
<{else}>
<tr class="ReportDataCenter">没有数据！</tr>
<{/if}>
</table>
</body>